<div class="container">
    <h1>Lista de Productos</h1>

    <div class="product-grid">
        {{#each products}}
            <div class="card">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p>
                <p>Categoría: {{this.category}}</p>
                <div class="price">$ {{this.price}}</div>
                <button class="add-to-cart-btn" data-id="{{this._id}}">Agregar al Carrito</button>
            </div>
        {{/each}}
    </div>

    <div class="pagination">
        {{#if hasPrevPage}}
            <a href="{{prevLink}}">Anterior</a>
        {{/if}}

        <span>Página {{page}} de {{totalPages}}</span>

        {{#if hasNextPage}}
            <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</div>

<script>
    document.querySelectorAll('.add-to-cart-btn').forEach(button => {
        button.addEventListener('click', async () => {
            const pid = button.getAttribute('data-id');
            const cid = '692b5f73466abdc3486344f5'; 

            try {
                const response = await fetch(`/api/carts/${cid}/product/${pid}`, {
                    method: 'POST'
                });
                
                if (response.ok) {
                    alert('Producto agregado al carrito');
                } else {
                    alert('Error al agregar');
                }
            } catch (error) {
                console.error(error);
            }
        });
    });
</script>